@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --card-luminosity: 90%;
  --card-saturation: 70%;
  @apply bg-gray-100;
}
html.dark {
  --card-luminosity: 45%; 
  --card-saturation: 40%; 
  @apply bg-gray-800;
}

body {
  @apply bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200;
}

.container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

h1, h2, h3, h4, h5, h6 {
  @apply mb-4;
}

p {
  @apply mb-6;
}

.section {
  @apply py-16 sm:py-24 lg:py-32;
}